body{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    color: inherit;
}

.css-navReference:hover{
    color: #00ffff;
}

.css-projectSpan{
    margin: 10px;
}

.css-projectReference{
    color: #007f7f;
}
.css-projectReference:hover{ 
    color: #b24200;
}

.css-header{
    background-color: #008080;
    color: white;
    min-width: 650px;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    display: flex;
    margin: 0;
    padding: 12px;
    font-family: 'Titillium Web', sans-serif;
    flex-direction: row;
    justify-content: flex-end;
}

.css-name{
    font-size: 2.5em;
    position: absolute;
    margin: 10px;
    left: 20px;
}

.css-options{
    margin: 20px 15px;
}

#projects{
    background-color: #008080;
    height: 100px;
}

.css-projectTitleBar{
    text-align: center;
    margin: 50px;
    color: white;
}

.css-upperBox{
    margin-top: 100px;
    min-width: 700px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.css-photoDiv{
    width: 25%;
    border-radius: 10px;
}

.css-photoDiv > img{
    margin-top: 35px;
    width: 100%;
    border-radius: inherit;
}

.css-transition{
    flex: 1 1 250px;
    background: linear-gradient( white, #008080 );
    margin: 0;
}

.css-projects{
    margin: 0;
    flex: 1 1 auto;
    background-color: #008080;
    display: flex;
    flex-direction: column;

}

.css-images{
    width: 100%;
}

.css-projectRow{
    background-color: white;
    margin: 20px auto;
    border-radius: 5px;
    padding: 15px;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    text-align: center;
}


.css-row{
    margin: 0;
}

.css-contact{
    text-align: center;
    background-color: white;
    color: #008080;
}

@media only screen and ( min-width: 760px ) {

    .css-row{
        margin: 15px;
        display: flex;
        justify-content: space-around;
    }

    .css-projectRow{
        width: 30%;
    }

    .css-rowItem{
        flex: 1 1 auto;
    }

}

